html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
}

body.chakra-ui-light {
  background: black;
}
html {
  background: rgb(0, 0, 0);
}
.App {
  /* background-color: rgb(19, 30, 34); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 30, 34, 1) 69%
  );
}

.media {
  transform: rotate(-90deg);
  position: absolute;
  color: white;
  top: 43%;
  left: 0;
}

.hero-img {
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

@media all and (max-width: 48em) {
  .media {
    transform: rotate(0deg);
    top: 60%;
    right: 50%;
    left: 50%;
  }
}

@media all and (max-width: 30em) {
  .media {
    transform: rotate(0deg);
    top: 60%;
    right: 50%;
    left: 50%;
  }
}

@media all and (max-width: 1024px) {
}
