html {
  background-color: rgb(19, 30, 34);
}

.App {
  background-color: rgb(19, 30, 34);
}

.media {
  transform: rotate(-90deg);
  position: absolute;
  color: white;
  top: 43%;
  left: 0;
}

.tech {
  word-spacing: 2rem;
}

@media all and (max-width: 48em) {
  .media {
    transform: rotate(0deg);
    top: 60%;
    right: 50%;
    left: 50%;
  }
}

@media all and (max-width: 30em) {
  .media {
    transform: rotate(0deg);
    top: 60%;
    right: 50%;
    left: 50%;
  }
}

@media all and (max-width: 1024px) {
}
